@font-face {
  font-family: Raphigrafie;
  src: url("../sparkbraille/assets/Raphigrafie.ttf") format('truetype');
  src: url("Raphigrafie.ttf") format('truetype');
}

#braille_linechart,
#braille_linechart-input {
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  /* border: none; */
}

main {
  font-size: 50px;
  margin-top: 1rem;
}

article > header {
  font-size: 15px;
  background-color: hsl(0, 0%, 90%);
  width: 250px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
  /* background: yellow; */
}

section, pre {
  height: 73px;
  display: inline;
  /* background: cyan; */
}

p {
  margin-top: 0;
}

svg {
  /* width: 440px; */
  height: 73px;
  display: inline;
}
