@font-face {
  font-family: Raphigrafie;
  src: url("../sparkbraille/assets/Raphigrafie.ttf") format('truetype');
  src: url("Raphigrafie.ttf") format('truetype');
}

#braille_linechart,
#braille_linechart-input {
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  /* border: none; */
}

main {
  font-size: 50px;
  margin-top: 1rem;
}

article > header {
  display: none;
}

section, pre {
  /* height: 73px;
  display: inline; */
  /* background: cyan; */
}

p {
  margin-top: 0;
}

#data_tuple_label,
#data_tuple_output {
  display: inline;
  margin-top: -3rem;
  padding: 0;
}

/* header */

/* SVG */
svg {
  height: 73px;
}

  #expanded_chart svg {
    height: 146px;
  }
